body{

    background-color: rgb(238, 238, 238);

}
body::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    /*border: 3px solid rgb(55, 0, 255);*/  /* creates padding around scroll thumb */
  }
  
.container{

    background-color: rgba(255, 0, 0, 0);
    width: 920px;
    height: 550px;
    margin: auto;
    margin-top: 50px;

}
.img{

    width: 400px;
    height: 100%;
    background-color: rgba(255, 0, 0, 0);
    float: left;
    margin-left: 100px;
}


.buttons{

    width: 210px;
    height: 96%;
    background-color: rgba(0, 128, 0, 0);
    float: right;
    margin-right: 150px;
    margin-top: 0px;
    padding: 10px;
}
#image{

    width: 390px;
    height: 550px;
    border-radius: 10px;
    margin-left: 5px;
    box-shadow: 1px 1px 15px 2px rgb(122, 122, 122);
}
.btn{

    border: none;
    outline: none;
    /*background-color: rgb(39, 39, 39);
    border-radius: 10px 0px 0px 10px; */
    margin: 18px;
    width: 200px;
    height: 40px;
    font-size: 15pt;
    text-align: center;
    font-family:sans-serif;
    color: rgb(109, 109, 109);
    transition: 0.2s; 
    cursor: pointer;

    border-radius: 50px;
    background: linear-gradient(145deg, #dddddd, #ffffff);
    box-shadow:  20px 20px 60px #d0d0d0,
             -20px -20px 60px #ffffff;

}
.btn:hover{
    
    transform: scale(1.1);
    background-color: rgb(255, 255, 255);
    color: grey;
    box-shadow: 1px 1px 5px 1px rgba(128, 128, 128, 0.24);
}
.btn:focus{

    transform: scale(1.1);
    background: linear-gradient(145deg, #bdbdbd, #ebebeb);
    box-shadow:  20px 20px 60px #d0d0d0,
             -20px -20px 60px #ffffff;
    color: grey;
}

